body{
    font-weight: blder;
    font-family: system-ui;
}
h1{
    font-size: large;
    font-weight: bold;
    color:blue;

}

h2{
    color:cadetblue;
    background-color: azure;


}

h3{
    color:cadetblue;
    background-color: azure;


 }